@model State

@{
    ViewData["Title"] = "Create State";
}
<h1>@ViewData["Title"]</h1>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary mt-2" />
        <a asp-action="index" asp-controller="State" class="btn btn-dark mt-2">BACK TO HOME</a>
    </div>
</form>